Pillow==12.2.0
UserFolder==1.2.0
pyyaml==6.0.3
tkinter-tooltip==3.1.2
accentcolordetect==0.0.1
colour==0.1.5
tinycss==0.4
pygame==2.6.1
numpy==2.4.6
requests==2.34.2
python-dotenv==1.2.2
easing_functions==1.0.4
pyautogui==0.9.54
soundfile==0.13.1
pydantic==2.13.4
tkcalendar==1.6.1
emoji==2.15.0
beautifulsoup4==4.14.3
markdown==3.10.2